@import "../../index.scss";
.event-card {
  img {
    aspect-ratio: 16/7 !important;
  }
}
.event-card:first-child {
  grid-column: span 2;
  grid-row: span 2;
  width: auto;
  .MuiTypography-h6 {
    font-size: 2.25rem;
  }
  .MuiTypography-body2 {
    font-size: 1.25rem;
  }
  .MuiChip-label {
    font-size: 1.25rem;
  }
  .MuiButton-text {
    font-size: 1.25rem;
  }
  .MuiSvgIcon-fontSizeMedium {
    font-size: 2rem;
  }
}
@media (max-width:#{$screen-md}) {
  .event-card {
    grid-column: span 2;
  }
  .event-card:first-child {
    grid-column: span 4;
    width: auto;
    .MuiTypography-h6 {
      font-size: 2rem;
    }
    .MuiTypography-body2 {
      font-size: 0.875rem;
    }
    .MuiChip-label {
      font-size: 0.875rem;
    }
    .MuiButton-text {
      font-size: 0.875rem;
    }
    .MuiSvgIcon-fontSizeMedium {
      font-size: 1.5rem;
    }
  }
}
@media (max-width:#{$screen-sm}) {
  .event-card {
    grid-column: span 4;
  }
  .event-card:first-child {
    width: auto;
    .MuiTypography-h6 {
      font-size: 1.25rem;
    }
  }
}
