.gallery-image:hover .gallery-image-child,
.gallery-image:focus .gallery-image-child {
  -ms-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 1px 1px 3px 3px rgba(0, 0, 0, 0.2);
}
.gallery-image-child {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
