/* Global Variables */
:root{
  --primary-color:#29af8a;
  --secondary-color:#435061;
  --swiper-navigation-size: 36px !important;
}
.swiper-pagination-bullet-active {
  background-color: #000 !important;
}